.idea
.vscode
.github

docs
docker
logs
submodules
extracted
data

.git
.gradle

*.xlsx
*.db
*.iml

.dockerignore
Dockerfile

!docs/development/maven

*/target/**

!exotic-standalone/target/PulsarRPAPro.jar
