[submodule "submodules/pulsar"]
	path = submodules/pulsar
	url = https://github.com/platonai/PulsarRPA
[submodule "submodules/scent"]
	path = submodules/scent
	url = https://github.com/galaxyeye/scent.git
[submodule "submodules/platon"]
	path = submodules/platon
	url = https://github.com/platonai/platon.git
[submodule "bin/submodules/pulsar-kotlin-driver"]
	path = bin/submodules/pulsar-kotlin-driver
	url = https://github.com/platonai/pulsar-kotlin-driver.git
[submodule "submodules/pulsar-kotlin-driver"]
	path = submodules/pulsar-kotlin-driver
	url = https://github.com/platonai/pulsar-kotlin-driver.git
