
<!DOCTYPE html>
<html lang="zh">

<head>


    <title>Add Rule</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">



    <link href="../css/core.css" rel="stylesheet" media="screen" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <!--    <th:block th:replace="${links}" />-->


    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>


    <!--    <th:block th:replace="${scripts}" />-->

</head>

<body>

<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/exotic/crawl/rules/">Rules</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="/exotic/crawl/rules/add" method="post">
                    <div class="row">
                        <div class="form-group">
                            <label for="sqlTemplate" class="col-form-label">SQL Template</label>
                            <textarea class="form-control" id="sqlTemplate" rows="4" name="sqlTemplate">
select
    dom_base_uri(dom) as `url`,
    dom_first_text(dom, '#productTitle') as `title`
from load_out_pages(@url, 'a[href~=/dp/]', 1, 10);
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="portalUrls" class="col-form-label">Portal Urls</label>
                            <textarea class="form-control" id="portalUrls" name="portalUrls"></textarea>
                        </div>

                        <div class="form-group col">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="name" name="name" value="Rfarmersenterprises">
                        </div>
                        <div class="form-group col">
                            <label for="label" class="col-form-label">Label</label>
                            <input type="text" class="form-control" id="label"
                                   placeholder="label" name="label" value="">

                        </div>
                        <div class="form-group col">
                            <label for="period" class="col-form-label">Period</label>
                            <input type="text" class="form-control" id="period"
                                   placeholder="period" name="period" value="PT87600H">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-form-label">Description</label>
                        <input type="text" class="form-control" id="description"
                               placeholder="description" name="description" value="">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary mr-5" value="Add Rule">
                        <a href="/exotic/crawl/rules/" class="btn btn-primary m-1"><i class="fas fa-list ml-1"></i></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>

</html>
