<html>
<head>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer" th:align="center">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2022</span>
    <span>platon.ai</span>
</div>
<div th:fragment="footer-admin" th:align="center">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2022</span>
    <span>platon.ai </span><span th:text="${@environment.getProperty('app.version')}"></span>
</div>
</body>
</html>
