<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <title>Add Rule</title>
    <!-- Custom links for this page only -->
    <link class="custom-link" href="../../static/css/rules/rules.css" th:href="@{/static/css/task/task.css}" />

    <!-- Custom scripts for this page only -->
    <script class="custom-script" src="../../static/js/rules/rules.js" th:src="@{/static/js/task/task.js}"></script>

</head>

<body>

<div class="container my-5">

    <!--/* The element with breadcrumb class will be passed to the header fragment */-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#" th:href="@{/crawl/rules/}">Rules</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/crawl/rules/add}" th:object="${rule}" method="post">
                    <div class="row">

                        <div class="form-group">
                            <label for="sqlTemplate" class="col-form-label">SQL Template</label>
                            <textarea th:field="*{sqlTemplate}" class="form-control" id="sqlTemplate" rows="5">
                            </textarea>
                            <span th:if="${#fields.hasErrors('sqlTemplate')}" th:errors="sqlTemplate"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="portalUrls" class="col-form-label">Portal Urls</label>
                            <textarea th:field="*{portalUrls}" class="form-control" id="portalUrls"></textarea>
                            <span th:if="${#fields.hasErrors('portalUrls')}" th:errors="portalUrls"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group col">
                            <label for="label" class="col-form-label">label</label>
                            <input type="text" th:field="*{label}" class="form-control" id="label"
                                   placeholder="label">
                            <span th:if="${#fields.hasErrors('label')}" th:errors="label"
                                  class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-form-label">description</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description"
                               placeholder="description">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="description"
                              class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary mr-5" value="Add Rule">
                        <a th:href="@{/crawl/rules/}" class="btn btn-primary m-1"><i class="fas fa-list ml-1"></i></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>

</html>
