<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>规则详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>

<div class="container my-2">
    <h3>View Rule</h3>
    <div class="card" th:switch="${rule}">
        <div class="card-body" th:case="*">
            <div class="row my-5">
                <div class="col-4">
                    <dl>
                        <dt>Id</dt>
                        <dd th:text="${rule.id}"></dd>
                    </dl>
                    <dl>
                        <dt>Name</dt>
                        <dd th:text="${rule.name}"></dd>
                    </dl>
                    <dl>
                        <dt>Label</dt>
                        <dd th:text="${rule.label}"></dd>
                    </dl>
                </div>
                <div class="col-4">
                    <dl>
                        <dt>Period</dt>
                        <dd th:text="${rule.period}"></dd>
                    </dl>
                    <dl>
                        <dt>Max Pages</dt>
                        <dd th:text="${rule.maxPages}"></dd>
                    </dl>
                    <dl>
                        <dt>Status</dt>
                        <dd th:text="${rule.status}"></dd>
                    </dl>
                </div>
                <div class="col-4">
                    <dl>
                        <dt>Start Time</dt>
                        <dd th:text="${rule.startTime}"></dd>
                    </dl>
                    <dl>
                        <dt>Last Crawl Time</dt>
                        <dd th:text="${rule.lastCrawlTime}"></dd>
                    </dl>
                    <dl>
                        <dt>Created Date</dt>
                        <dd th:text="${rule.createdDate}"></dd>
                    </dl>
                    <dl>
                        <dt>Description</dt>
                        <dd th:text="${rule.description}"></dd>
                    </dl>
                </div>
            </div>

            <div>
                <div>Portal Urls</div>
                <div><pre th:text="${rule.portalUrls}"></pre></div>
            </div>
            <div>
                <div>Out link Selector</div>
                <div><pre th:text="${rule.outLinkSelector}"></pre></div>
            </div>
            <div>
                <div>SQL Template</div>
                <div><pre th:text="${rule.sqlTemplate}"></pre></div>
            </div>
        </div>

        <div class="card-footer">
            <a th:href="@{/crawl/rules/}" class="btn btn-primary m-1">
                <i class="fas fa-list ml-1"></i></a>
            <a th:href="@{/crawl/rules/edit/{id}(id=${rule.id})}" class="btn btn-primary m-1">
                <i class="fas fa-edit ml-1"></i></a>
            <a th:href="@{/crawl/rules/start/{id}(id=${rule.id})}" class="btn btn-primary m-1">
                <i class="fas fa-play ml-1"></i></a>
            <a th:href="@{/crawl/rules/pause/{id}(id=${rule.id})}" class="btn btn-primary m-1">
                <i class="fas fa-pause ml-1"></i></a>
        </div>
    </div>
</div>
</body>
</html>
